.menav{
  position: fixed!important;
  z-index: 10;
}
.welcome{
  height: 80vh;
}
.texto-welcome{
  position: absolute;
  width: 50%;
  height: auto;
  color: #FFFFFF;
  text-align: center;
  margin-top: 10%;
  margin-left: 25%;
}
#fondo1{
  background-image: url(https://cdn.pixabay.com/photo/2015/09/09/16/05/forest-931706_960_720.jpg);
  background-size: cover;
  height: 100%;
  background-position: center;
}
#fondo2{
  background-image: url(https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_960_720.jpg);
  background-size: cover;
  height: 100%;
  background-position: center;
}
#fondo3{
  background-image: url(https://cdn.pixabay.com/photo/2018/01/30/22/50/forest-3119826_960_720.jpg);
  background-size: cover;
  height: 100%;
  background-position: center;
}
